<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'catalog_home' %}">
        <div class="sidebar-brand-text mx-3">Pizza Restaurant</div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
        <a class="nav-link" href="{% url 'catalog_home' %}">
            <i class="fas fa-fw fa-home"></i>
            <span>Home</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Catalog
    </div>
    <li class="nav-item">
        <a class="nav-link" href="{% url 'catalog_ingredients' %}">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Ingredients</span></a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="{% url 'catalog_pizzas' %}">
            <i class="fas fa-fw fa-table"></i>
            <span>Pizzas</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

</ul>