{% extends 'catalog/ingredients/home.html' %}
{% load humanize %}
{% block content %}
    <div class="row">
        {% for ingredient in object_list %}
            <div class="col-xl-2 col-md-6 mb-4">
                <div class="card border-left-success shadow h-100 py-2">
                    <div class="card-body">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                    {{ ingredient.name }}
                                </div>
                                <div class="h5 mb-0 font-weight-bold text-gray-800">
                                    {{ ingredient.price|intcomma }} €
                                </div>
                            </div>
                            <div class="col-auto">
                                <a href="{% url 'catalog_ingredients_update' ingredient.id %}"
                                   class="btn btn-primary btn-circle btn-sm">
                                    <i class="fas fa-pen"></i>
                                </a>
                                <a href="{% url 'catalog_ingredients_delete' ingredient.id %}"
                                   class="btn btn-danger btn-circle btn-sm">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <div class="card mb-4 py-3 border-bottom-warning">
                <div class="card-body">
                    Please Add an Ingredient
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <a href="{% url 'catalog_ingredients_create' %}" class="btn btn-primary btn-icon-split">
            <span class="icon text-gray-600">
                <i class="fas fa-arrow-right"></i>
            </span>
            <span class="text">Add new Ingredient</span>
        </a>
    </div>
{% endblock %}